
body {
    text-align: center;
}

div#page {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
    padding: 5px 20px;
    /*text-align: left;*/
}

input, li {
    padding: 15px 25px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li:nth-child(odd) {
    margin: 0;
    display: block;
    list-style: none;
    background-color: #eee;
}

li.selected {
    background-color: #C5EBF9;
}

ul#matches {
    margin: 0 auto;
}